</div>
<div id="footer">
	<div class="wrapper">
		<div id="footer_logo"></div>
		<div id="footer_middle">
			<div id="footer_tel">+27(0)12 991 0053</div>
			<div id="footer_email"><a href="mailto:hello@subgit.com">hello@subgit.com</a></div>
			<div class="clear"></div>
			<a href="http://subgit.com/newsite/about_us.html">About us</a>
			<div id="footer_copyright">
				<p>Copyright © 2012-2013 TMate Software</p>
				<p>Subversion and Git are names of Open Source version control system, which are developed independently. TMate Software and the website subgit.com are independent of Subversion and Git developers, and have no relationship, formal or informal.</p>
			</div>
		</div>
		<div id="footer_social">
			<a href="http://stackoverflow.com/questions/tagged/subgit?sort=votes&pageSize=50" id="footer_stack">&nbsp;</a>
			<a href="http://plus.google.com/+Subgit" id="footer_gplus">&nbsp;</a>
			<a href="http://twitter.com/subgit" id="footer_twitter">&nbsp;</a>
			<a id="up" href="#up"></a>
		</div>
	</div>
	<div class="clear"></div>
</div>