<div id="top">
	<div class="wrapper">
		<a href="/"><div id="top_logo"></div></a>
		<div id="top_menu">
			<ul>
        {% if page.active == "home" %}
        <li><a href="{{ site.baseurl }}/index.html" class="active">Home</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        {% endif %}
        {% if page.active == "documentation" %}
          <li><a href="{{ site.baseurl }}/documentation.html" class="active">Documentation</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
        {% endif %}
        {% if page.active == "download" %}
          <li><a href="{{ site.baseurl }}/download.html" class="active">Download</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/download.html">Download</a></li>
        {% endif %}
        {% if page.active == "pricing" %}
          <li><a href="{{ site.baseurl }}/pricing.html" class="active">Pricing</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/pricing.html">Pricing</a></li>
        {% endif %}
        {% if page.active == "contacts" %}
          <li><a href="{{ site.baseurl }}/contacts.html" class="active">Contact</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/contacts.html">Contact</a></li>
        {% endif %}
			</ul>
		</div>
	</div>
</div>
<div id="content">
  {% if page.subtitle != null %}
  <div class="coffee_wrap green_wrap">
    <h1>{{ page.subtitle }}</h1>
  </div>
  {% endif %}
