<ul>
	<li>Overview</li>
	<li>SubGit Features</li>
	<li>Mirror Configuration Overview
		<ul>
			<li>Subversion Projects Location</li>
			<li>Branches and Tags mapping</li>
			<li>Authors Mapping</li>
		</ul>
	</li>
	<li>One-time Import from Subversion to Git</li>
	<li>Creating Git Mirror of a Subversion Repository
		<ul>
			<li>Installation Stages</li>
			<li>Run subgit configure</li>
			<li>Adjust configuration: overview</li>
			<li>Adjust configuration: provide authors mapping</li>
			<li>Adjust configuration: path encoding</li>
			<li>Adjust configuration: branches mapping</li>
			<li>Adjust configuration: credentials</li>
			<li>Credentials and Subversion pre-revprop-change hook</li>
			<li>Adjust configuration: other options</li>
			<li>Run subgit install</li>
			<li>Background translation process</li>
			<li>Recommended client-side Git configuration</li>
		</ul>
	</li>
	<li>Changing SubGit Configuration
		<ul>
			<li>Writing Hooks</li>
			<li>Applying configuration changes</li>
		</ul>
	</li>
	<li>Uninstalling SubGit</li>
	<li>Registering SubGit</li>
	<li>Translation Limitations</li>
	<li>Backup</li>
	<li>System Requirements</li>
	<li>Installing SubGit Tool</li>
	<li>Useful Links and Contacts</li>
</ul>
