<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <meta name="keywords" content="Git,Svn,SubGit,git-svn,Repository,VCS,DVCS,TMate" />
    <meta charset="UTF-8">
    {% if page.subtitle %}
    <title>SubGit&nbsp;::&nbsp;{{ page.subtitle }}</title>
    {% else %}
    <title>SubGit&nbsp;::&nbsp;Svn To Git Migration</title>
    {% endif %}
    <meta name="description" content="Git-svn alternative for a safe migration from Svn to Git. Install once on the server side and use both Git and Svn as long as you like." />
    <link href='{{ site.baseurl }}/css/main.css' rel='stylesheet' type='text/css'>
    <link href="https://plus.google.com/114128677298030695536" rel="publisher" />
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main_page_script.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/price_script.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25451601-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script type="text/javascript">
      (function()
       {var po = document.createElement("script");
         po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(po, s);
       })();
    </script>
  </head>

  <body>
    <div id="container">
      {% include header.html %}
        {{content}}
      {% include footer.html %}
    </div>
  </body>
</html>
