<!doctype html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/img/favicon.ico">
	<meta name="keywords" content="Git,Svn,SubGit,git-svn,Repository,VCS,DVCS,TMate" />
	<meta charset="UTF-8">
	<title>SubGit&nbsp;::&nbsp;Documentation</title>
	<meta name="description" content="Git-svn alternative for a safe migration from Svn to Git. Install once on the server side and use both Git and Svn as long as you like." />
	<link href='{{site.baseurl}}/css/main.css' rel='stylesheet' type='text/css'>
	<link href="https://plus.google.com/114128677298030695536" rel="publisher" />
	<script type="text/javascript" src="{{site.baseurl}}/js/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25451601-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<script type="text/javascript">
		(function()
		{var po = document.createElement("script");
			po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(po, s);
		})();
	</script>
</head>
<body id="documentation">
	<div id="container">
		<div id="top">
			<div class="wrapper">
				<a href="/"><div id="top_logo"></div></a>
				<div id="top_menu">
					<ul>
						<li><a href="http://subgit.com/newsite/index.html">Home</a></li>
						<li><a href="http://nrvnm.github.io/jkl-pages/"  class="active">Documentation</a></li>
						<li><a href="http://subgit.com/newsite/download.html">Download</a></li>
						<li><a href="http://subgit.com/newsite/pricing.html">Pricing</a></li>
						<li><a href="http://subgit.com/newsite/contacts.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="green_wrap">
				<h1>Subgit book</h1>
			</div>

			{{content}}

		</div>
		<div id="footer">
			<div class="wrapper">
				<div id="footer_logo"></div>
				<div id="footer_middle">
					<div id="footer_tel">+27(0)12 991 0053</div>
					<div id="footer_email"><a href="mailto:hello@subgit.com">hello@subgit.com</a></div>
					<div class="clear"></div>
					<a href="http://subgit.com/newsite/about_us.html">About us</a>
					<div id="footer_copyright">
						<p>Copyright © 2012-2013 TMate Software</p>
						<p>Subversion and Git are names of Open Source version control system, which are developed independently. TMate Software and the website subgit.com are independent of Subversion and Git developers, and have no relationship, formal or informal.</p>
					</div>
				</div>
				<div id="footer_social">
					<a href="http://stackoverflow.com/questions/tagged/subgit?sort=votes&pageSize=50" id="footer_stack">&nbsp;</a>
					<a href="http://plus.google.com/+Subgit" id="footer_gplus">&nbsp;</a>
					<a href="http://twitter.com/subgit" id="footer_twitter">&nbsp;</a>
					<a id="up" href="#up"></a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>